* {
  padding: none;
  margin: none;
}

.logomarguz {
  width: 120px;
  margin-left: 20px;
}

.links {
  margin-right: 30px;
}

/* =========PANEL IZQUIERDO======
================================*/
.contenedor {
  display: flex;
}

.panel-izquierdo {
  background: #dfdfdf;
  width: 250px;
  height: 800px;
}

.links-panel {
  background-color: rgb(247, 221, 221);
  margin: 20px 0px 0px 0px;
  width: 250px;
  height: 100px;
}

.links-panel a {
  display: block;
  background-color: none;
  margin-top: 10px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-weight: bold;
}

.links-panel a:hover {
  background-color: rgb(247, 161, 161);
}

/* =========FOOTER==============
================================*/
.pie-pagina {
  background: #474747;
  border: none;
  height: 50px;
  margin-top: 60px;
}

.descripcion-piepagina {
  color: rgb(184, 182, 182);
  font-size: 20px;
  padding-top: 10px;
  margin-right: 30px;
  text-align: end;
}

.accordion {
  width: 1000px;
}

.list-links {
  text-decoration: none;
  margin-top: 10px;
  margin-left: 20px;
}

dt {
  background-color: tomato;
  height: 40px;
  margin-top: 10px;
  text-align: start;
}

.img-saludos {
  margin: 30px 20px 0px 100px;
  width: 800px;
  border-radius: 20px;
}

.acordeon {
  width: 800px;
  margin: 50px 20px 0px 100px;
}

.accordion-header {
  font-weight: bold;
}

.accordion-button {
  font-weight: bold;
  outline: none;
}
