* {
  padding: none;
  margin: none;
}

:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  --letra-titulo: "Lexend", sans-serif;
  --letra-normal: "Livvic", sans-serif;
  --primary-color: #db1f37;
  --second-color: #e7fdfe;
  --third-color: #fec3c381;
  --color-letra1: #ffff;
  --color-letra2: #474747;
  --border-radius: 10px;
  --borde: 2px solid red;
}

/*------PANEL IZQUIERDO---------
--------------------------------*/
.panel-izquierdo {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
  display: block;
  background: var(--second-color);
  overflow: auto;
}

.titulo-A1 {
  font-family: var(--letra-titulo);
  background: var(--primary-color);
  color: var(--color-letra1);
  text-align: center;
  padding: 10px 0px;
}

.links-nivel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  z-index: 1;
}

.item {
  font-family: var(--letra-normal);
  font-weight: 600;
  font-size: 14px;
  color: var(--color-letra2);
  position: relative;
  text-decoration: none;
  padding: 5px 40px;
  margin-top: 5px;
}

.item::before {
  content: "";
  display: block;
  background: var(--third-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  clip-path: var(--clippy);
  transition: clip-path 0.5s;
}

.item:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*------CONTENIDO---------------
--------------------------------*/
.contenedor {
  display: flex;
  border: 2px solid red;
  margin: 0px 0px 0px 250px;
}

.header-saludos {
  display: grid;
  grid-template-columns: 20% 80%;
  border: var(--borde);
  padding: 15px 20px 15px 20px;
}

.link-inicio {
  margin-top: 5px;
  margin-right: 40px;
  text-align: end;
}

.link-inicio a {
  font-family: var(--letra-normal);
  font-size: 20px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

.logo-marguz img {
  margin-top: 7px;
  width: 120px;
}

.presentacion-general1,
.presentacion-general2 {
  padding: 20px 150px;
}

.slide {
  border: 1px solid rgb(209, 39, 39);
  border-radius: 10px;
}

.active img {
  border-radius: 10px;
}

.caption-presentacion p {
  font-family: var(--letra-normal);
  display: flex;
  text-align: center;
  padding: 10px 50px;
  color: var(--color-letra2);
}

.seccion-titulos {
  padding: 50px 0px 0px 0px;
}

.seccion-titulos h1 {
  font-family: var(--letra-titulo);
  color: var(--color-letra2);
  padding: 0px 80px;
}

.seccion-titulos hr {
  background: var(--primary-color);
  margin-left: 80px;
  width: 150px;
  height: 5px;
  border: none;
}

.seccion-videos {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 40px;
  justify-content: center;
  text-align: center;
  margin: 0px 90px;
  padding: 30px;
}

.videos {
  border: 1px solid #c5c5c5;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.videos:hover {
  transition: all 0.3s ease-out;
  transform: translateY(-10px);
  box-shadow: 2px 2px 4px rgba(112, 112, 112, 0.466);
}

.videos a {
  font-family: var(--letra-normal);
  text-decoration: none;
  color: var(--color-letra2);
  font-size: 14px;
}

.videos img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.videos h3 {
  font-family: var(--letra-titulo);
  padding: 10px 0px 0px 0px;
}

/*------ACORDEON ---------------
--------------------------------*/
.acordeon {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 70px;
}

.acordeon-item {
  background-color: #d4d4d450;
  color: #474747;
  margin: 30px 90px;
  border: var(--primary-color);
  border-radius: 10px;
}

.acordeon-item-header {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #db1f27;
  border-radius: 10px;
}

.acordeon-item-header::after {
  content: "\002B";
  font-size: 30px;
  position: absolute;
  right: 30px;
}

.acordeon-item-header.active::after {
  content: "\2212";
}

.acordeon-item-header h3 {
  font-family: var(--letra-titulo);
  color: var(--primary-color);
  font-size: 24px;
}

.acordeon-item-header p {
  font-family: var(--letra-normal);
}

.acordeon-item-body {
  display: block;
  justify-content: center;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

.acordeon-item-body-content {
  font-family: var(--letra-normal);

  padding: 20px;
  line-height: 1.5rem;
}
